services:
	-
		class: PHPStanDoctrineChecker\Reflection\EntityRepositoryReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStanDoctrineChecker\Reflection\QueryBuilderReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStanDoctrineChecker\Reflection\QueryExprReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStanDoctrineChecker\Reflection\QueryExprComparisonReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStanDoctrineChecker\Reflection\QueryExprCompositeReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: PHPStanDoctrineChecker\Rules\FetchJoinCheckerRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStanDoctrineChecker\Rules\QueryBuilderListenerRule
		tags:
			- phpstan.rules.rule
	-
		class: PHPStanDoctrineChecker\Service\QueryBuilderTracer
	-
		class: PHPStanDoctrineChecker\Service\QueryExprTracer
